@import "../../Variables.scss";

$outline:
  2px 0px 0px $darkest-main,
  -2px 0px 0px $dark-main,
  0px 2px 0px $darkest-main,
  0px -2px 0px $dark-main;

.logo-app {
  width: 12vw;
}

.box__description {
  overflow: scroll;
  scrollbar-width: none;
  width: 50vw;
  font-family: $font-text;
  margin-top: 12vh;
  margin-left: 4vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: ns-resize;
  text-shadow: 0px 0px 10px white;
}

.box__description::-webkit-scrollbar {
  display: none;
}

article {
  background-color: white;
  background-image: url("./src/assets/posters.png");
  font-size: clamp(13px, 1.2vw, 1.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-inline: 4px solid white;
  font-weight: bold;
}

.title__description {
  font-family: $font-title;
  color: $darkest-main;
  margin: 3vh;
}

.text__description {
  padding: 5%;
  text-align: left;
}

.box__paperUp,
.box__paperDown {
  max-width: 100%;
  padding: 0;
}

strong {
  color: $accent;
  text-shadow: $outline;
  font-size: clamp(15px, 2.2vw, 1.6rem);
}

.text__description--first {
  padding-bottom: 10px;
}

.text__description--second {
  padding-top: 0;
}
