@import "../../Variables.scss";

$outline:
  2px 0px 0px $darkest-main,
  -2px 0px 0px $dark-main,
  0px 2px 0px $darkest-main,
  0px -2px 0px $dark-main;

.aboutUs {
  display: flex;
  padding-top: 15vh;
  padding-inline: 1vw;
  flex-wrap: wrap;
  height: 85vh;
  justify-content: space-around;
  align-items: center;
  scrollbar-color: white $accent;
  background-image: url("/src/assets/wall-3.jpg");
  background-position: top right;
  background-size: 100% 100%;
}
.aboutUs__card {
  background-image: none;
  background-color: rgba(255, 255, 255, 0.855);
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 1vw;
  border-radius: 15px;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 3vh;
  text-align: center;
}
.aboutUs__img {
  width: 15vw;
  height: auto;
  border-radius: 50%;
  border-top: 7px double $accent;
  border-right: 7px double $accent;
  border-bottom: 7px double $accent;
  border-left: 7px double $accent;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.75);
  margin-right: 0.5rem;
}
.aboutUs__logos {
  width: 6.5vw;
  border-radius: 30%;
  margin-inline: 1vw;
  margin-top: 10%;
}
.aboutUs__description {
  margin-left: 0.3vw;
  width: 20vw;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-inline: 0;
}
.aboutUs__name {
  margin-bottom: 1vh;
  color: $accent;
  text-shadow: $outline;
  text-align: center;
  font-size: 2.5vw;
}
