@import "../../Variables.scss";

@font-face {
  font-family: "attackG";
  src: url("../../fonts/aAttackGraffiti.eot");
  src:
    url("../../fonts/aAttackGraffiti.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/aAttackGraffiti.woff2") format("woff2"),
    url("../../fonts/aAttackGraffiti.woff") format("woff"),
    url("../../fonts/aAttackGraffiti.ttf") format("truetype"),
    url("../../fonts/aAttackGraffiti.svg#aAttackGraffiti") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//FONT-FAMILY
$font: "attackG";

* {
  margin: 0;
  padding: 0;
}

.homepage {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/src/assets/wall-3.jpg");
  background-position: top right;
  background-size: 100% 100%;
}

.homepage--button--container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.homepage--title {
  z-index: 100;
  color: $accent;
  font-size: clamp(1rem, 6vw, 8rem);
  font-family: $font;
  margin-top: 25vh;
  text-shadow: $outline;
}

.homepage--banner {
  position: absolute;
  left: 0;
  top: -20vh;
  z-index: 1;
  width: 100vw;
}
footer {
  margin-block-start: 10%;
}

.homepage__footer {
  font-family: "blowBrush";
  font-size: 2.5vw;
  text-decoration: none;
  color: $accent;
  text-shadow:
    3px 0px 0px $darkest-main,
    -3px 0px 0px $dark-main,
    0px 3px 0px $darkest-main,
    0px -3px 0px $dark-main;
  padding: 1%;
}
